/* Stylowanie ogólne */

body {
	background-color: #eee;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}

header {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	margin-bottom: 3%;
}

section {
	position: relative;
}

a {
	color: initial;
}

a:hover {
	text-decoration: none;
	color: initial;
}

h3 {
	margin-top: 0;
	font-size: 250%;
	font-weight: bold;
	padding-right: 2em;
}

/* Stylowanie formularza */

.form-wrapper {
	height: 2em;
	z-index: 100;
}

.form-group {
	width: 30%;
	text-align: left;
}

#movie-title {
	width: 100%;
}

#movieForm {
	text-align: center;
}

#movieForm button{
	vertical-align: top;
}

#movieForm  ul {
	padding: 0;
}

#movieForm ul li {
	padding: 6px 12px;
	text-align: left;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}

#movieForm ul li:hover{
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	cursor: pointer;
}

.error {
	color: red;
	font-weight: normal;
	padding-left: 12px;
	font-size: 14px;
	float: left;
}


/* Stylowanie kontenera z rezultatem */

.result-wrapper {
	max-width: 960px;
	margin: 4.5% auto;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 2em;
}

.img-container img {
	width: 100%;
	height: auto;
	max-width: 320px;
}

.info-container div {
	padding: 0.3em 0;
}

.info-container span {
	font-weight: bold;
}

.rating-container {
	position: absolute;
	display: inline-block;
	top: 2em;
	right: 2em;
}

.rating-container div {
	width: 3em;
	height: 3em;
	text-align: center;
	padding-top: 0.8em;
	font-weight: bold;
	font-size: 120%;
	border-collapse: collapse;
}

.rating-container .metascore {
	color: white;
}

.rating-container .imdbscore {
	border: 1px solid #ccc;
	background-color: white;
}

.rating-container .imdbscore i {
	color: gold;
}

.learn-more {
	position: absolute;
	bottom: 2em;
	right: 2em;
	border-collapse: collapse;
}


/* Ukrywanie pustych elementów wyniku */

.result-wrapper[data-content=""],
.rating-container div[data-score="N/A"],
.info-container div[data-info="N/A"] {
	display: none;
}

/* Media query */

@media screen and (max-width: 768px) {

	h3 {
		margin-top: 10px;
		padding-right: 0;
		text-align: center;
	}

	#movie-title {
		width: 100%;
	}
	
	.form-inline .form-group {
		width: 60%;
		display: inline-block;
	}
	
	.img-container {
		text-align: center;
	}
	
	.info-container {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
	}
	
	.rating-container {
		top: -1px;
		right: -1px;
	}
	
	.learn-more {
		bottom: 0;
		right: 0;
	}

}
